pip install pyqt5
pip install sys
pip install matplotlib
pip install cv2
pip install random
pip install numpy
pip install time
pip install sklearn
pip install os
pip install tensorflow v2



1- مدل ترین سده نیز می باشد و شما میتوانید ترین کنید و یا تست نمایید
2- با ترین کردن مجدد می شود خورجی را در نمودار دید اما زمانی طول می کشد.
3-شما با استفاده از پینت میتوان یکی از حروف را رسم کنید  و سپس با تست کردن  خروجی را درکنسول ببینید
4- شما میتواند با استفاده از بخش تست فایل تست یک مجموعه دیتا بدهید و خروجی را برای هر یک ببینید این ممکن است زمان بر باشد 



نمونه ای از عکس برنامه در فایل پروژه فرستاده شده است .